.accordion {
    // border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 2px;
}

.accordion__item + .accordion__item {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.accordion__button {
    background-color: $gw-title-bg;
    border-radius: 4px;
    color: $gw-blue;
    font-size: 0.875rem;
    font-weight: 700;
    cursor: pointer;
    padding: 6px 16px;
    width: 100%;
    text-align: left;
    border: none;
    box-sizing: border-box;
}

.accordion__button:focus {
    outline: 0;
}

.accordion__button:hover {
    // background-color: #ddd;
}

.accordion__button:after {
    float: right;
    content: "";
    height: 8px;
    width: 8px;
    margin-right: 4px;
    border-bottom: 2px solid currentColor;
    border-right: 2px solid currentColor;
    transform: rotate(-45deg);
    margin-top: 4px;
}

.accordion__button[aria-expanded="true"]::after,
.accordion__button[aria-selected="true"]::after {
    margin-top: 2px;
    transform: rotate(45deg);
}

.accordion__panel {
    padding: 20px;
    animation: fadein 0.35s ease-in;
    & img {
        width: 100%;
        height: auto;
    }
}

/* -------------------------------------------------- */
/* ---------------- Animation part ------------------ */
/* -------------------------------------------------- */

@keyframes fadein {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
